/*CSS Styles */

#wrapper{
max-width:1200px;
padding:1em;
}
.site-header{
    display: flex;
    justify-self: space-between;
}

.meau{
    display: none;
}

.show-meau{
    background-color: transparent;
    border: none;
}
@media (min-width:768px){

    .show-meau{
        display: none;
    }
    .meau{
        display: flex;
    }
    .menu li{
        display: inline;
        margin: right 2em;
    }







}/*closing meadia query*/