#wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.layout{
    width: 100%;
}

.layout{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-row: 2%;
    grid-column-gap: 1em;
    /*grid-gap: 2% 1em;*/
}

.one .five{
    grid-column-start: 1;
    grid-column-end: 4;
}