.colorboxes {
    margin: 100px;
    width: 500px;
    position: relative; /* Set position relative on the container */
  }
  
  .box {
    padding: 50px;
    color: white;
    text-align: center;
    position: absolute; /* Set position absolute on all boxes */
  }
  
  .redbox {
    background-color: red;
    top: 100; /* Position red box at the top of the container */
  }
  
  .bluebox {
    background-color: blue;
    top: 100px; /* Position blue box 50 pixels down from the top */
  }