*{ 
    margin:0;
    padding:0;
    border:none;
}
.material-symbols-outlined{
    float:right;
}

nav a{
    display:block;
    padding:10px;
    background-color: rgb(248, 235, 242);
    border-bottom: solid 1px #ff2d2d;
    color:black;
    text-decoration: none;
}

nav a:hover{
    background-color: rgb(6, 10, 248);
}

.drop-menu a{
    background-color: rgb(159, 187, 159);
    color: black;
}

.drop-menu a:hover{
    background-color: rgb(99, 63, 69)
}

.drop-menu{
    display:none
}

nav li:hover .drop-menu{
    display:block;
}

p{
    nargin:10px;
}